#hero {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg) top center fixed;
    background-size: cover;
}

#hero .hero-logo {
    margin: 20px;
}

#hero .hero-logo img {
    max-width: 100%;
}

#hero .hero-container {
    background: rgba(0, 0, 0, 0.8);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#hero h2 {
    color: #999;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    #hero h2 .rotating {
        display: block;
    }
}

#hero .rotating>.animated {
    display: inline-block;
}

#hero .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}

#hero .btn-get-started {
    background: #03C4EB;
    border: 2px solid #03C4EB;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-services {
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-services:hover {
    background: #03C4EB;
    border: 2px solid #03C4EB;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: #111;
    padding: 20px 0;
    height: 90px;
}

#header #logo {
    float: left;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
}

@media (max-width: 768px) {
    #header {
        height: 80px;
    }
    #header #logo h1 {
        font-size: 26px;
    }
    #header #logo img {
        max-height: 40px;
    }
}

.is-sticky #header {
    background: rgba(0, 0, 0, 0.85);
}

.section-title-divider {
    width: 50px;
    height: 3px;
    background: #03C4EB;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 20px;
}

p.pp {
    color: white;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

button.btn.btn-outline-primary {
    background-color: transparent;
    border-color: #007bff;
    border-radius: 16px;
}

button.btn.btn-outline-primary:hover {
    background-color: transparent;
    background-color: #001a4b;
    color: white;
    border-radius: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-description {
    text-align: center;
    margin-bottom: 40px;
}

.parallax {
    /* The image used */
    background-image: url("../img/control.png");
    /* Set a specific height */
    min-height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer#footer {
    background-color: black;
}

section#Login {
    background-color: #EEF4FB;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/parallax2.png) fixed center center;
    background-size: cover;
    padding: 80px 0 60px 0;
}

#Log {
    border: 0.2px solid #001a4b;
    background-color: none;
}

.Ints {
    border-color: #0097e0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

